on: [push, pull_request]

permissions:
  contents: write

jobs:
  build-docker:
    runs-on: ubuntu-latest
    name: Build Docker Image
    outputs:
      tag: ${{ steps.select_image.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
      - name: Select Docker Image
        id: select_image
        shell: bash
        run: |
          branch=${{ github.ref_name }}
          status=$(git diff --exit-code origin/main Dockerfile > /dev/null && echo "unchanged" || echo "changed")
          if [[ "$branch" = "main" ]]; then
            echo "build_image=true" >> "$GITHUB_OUTPUT";
            echo "tag=latest" >> "$GITHUB_OUTPUT";
          else
            if [[ "$status" = "unchanged" ]]; then
              echo "tag=$GITHUB_SHA" >> "$GITHUB_OUTPUT";
              echo "build_image=true" >> "$GITHUB_OUTPUT";
            else
              echo "tag=latest" >> "$GITHUB_OUTPUT";
              echo "build_image=false" >> "$GITHUB_OUTPUT";
            fi;
          fi;
      - name: Login to GitHub Container Registry
        if: steps.select_image.outputs.build_image == true
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        if: steps.select_image.outputs.build_image == true
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          push: true
          tags: |
            ${{ github.repository_owner }}/latex:${{ steps.select_image.outputs.tag }}
            ghcr.io/${{ github.repository_owner }}/latex:${{ steps.select_image.outputs.tag }}

  build-documents:
    runs-on: ubuntu-latest
    needs: build-docker
    name: Build Documents
    container:
      image: ghcr.io/${{ github.repository_owner }}/latex:${{ needs.build-docker.outputs.tag }}
      volumes:
        - .:/data
    steps:
      - uses: actions/checkout@v4
      - name: Detect Version from Ref
        shell: bash
        id: detect_version
        run: |
          [[ $GITHUB_REF == refs/tags/v* ]] && VERSION="${GITHUB_REF#refs/tags/}" || VERSION="${GITHUB_SHA::8}"
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
      - name: Build with container
        run: build.sh
        working-directory: /data/src
        env:
          VERSION: ${{ steps.detect_version.outputs.version }}
      - uses: actions/upload-artifact@v4
        with:
          path: |
            /data/src/out/cv.log
            /data/src/out/*.pdf
  release:
    name: Release
    needs: build-documents
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: "*.pdf"
      - uses: softprops/action-gh-release@v2
        with:
          files: |
            secrist-resume.pdf
            secrist-cv.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
